{% extends ":front:Fronten.html.twig" %}

{% block title %}Soumission{% endblock  %}
{% block body %}

    <section class="wrapper" style="min-height: 400px; background-image: url(&quot;/pfe/web/font/images/photodune-4043508-3d-modern-office-room-l.jpg&quot;); background-position: 0px -143.517px;" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
        <div class="container">


            <div class="col-md-8">
                <div class="row animate-group">
                    <div class="col-md-offset-2 col-md-12 col-sm-12">
                        <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                            <i class="icon-box-icon fa fa-pencil"></i>
                            {% if is_granted('ROLE_EVAL') or is_granted('ROLE_ADMIN') %}
                                {% include ':front:profilen.html.twig' %}
                            {%else%}
                                {% if is_granted('ROLE_CHERCH') %}
                                    {% include ':front:ProfilChercheuren.html.twig' %}
                            {%endif%}{%endif%}

                            <h1 align="left" class="icon-box-title">
                                <b> <font color='#0d0b6f' >  Submit Your Paper  </font></b></h1><br><br>


                            <div class="icon-box-content">  
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">

                                        {% include ":back:alert.html.twig" %}

                                        {{form_start(form,{'attr':{'id':'form2','role':'form'}})}}







                                        <style>
                                            .required:after { content:" *";
                                                              color:red; }
                                            </style>

                                            <div class="row">
                                            {{ form_row(form.titrePapier, { 'label': 'Title of paper :' ,'attr':{'placeholder':'Saisir le titre de votre papier '}}) }}

                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            {{ form_row(form.resume, { 'label': 'summary:' ,'attr':{'placeholder':'Saisir le resume de votre papier '}}) }}

                                        </div>
                                        <br>

                                        <div class="row">
                                            {{ form_row(form.motcle, { 'id': 'tokenfield','label': 'Keywords:' }) }}

                                        </div>

                                        <br>
                                        <div class="row">

                                            {{ form_row(form.file1 ,{ 'label': 'Cover letter :' ,'attr':{'placeholder':'upload your Cover letter '}}) }}
                                        </div>

                                        <br>
                                        <div class="row">

                                            {{ form_row(form.file2 ,{ 'label': 'Manuscript :' ,'attr':{'placeholder':'upload your manuscript '}}) }}
                                        </div>
                                        <br>
                                        <div class="row">

                                            {{ form_row(form.nom_auteur, { 'id': 'tokenfield1','label': 'Last name of the authors :' }) }}

                                        </div>
                                        <br>
                                        <div class="row">

                                            {{ form_row(form.prenom_auteur, { 'id': 'tokenfield2','label': 'First name of the authors :' }) }}

                                        </div>
                                        <br>
                                        <div class="row">

                                            {{ form_row(form.grade_auteur, { 'id': 'tokenfield3','label': 'Title of the authors :' }) }}

                                        </div>
                                        <br>

                                        <div class="row">

                                            {{ form_row(form.universite_auteur, { 'id': 'tokenfield4','label': 'University of Authors :' }) }}

                                        </div>
                                        <br>

                                        <div class="row">

                                            {{ form_row(form.institution_auteur, { 'id': 'tokenfield5','label': 'Authors of institution:' }) }}

                                        </div>
                                        <br>
                                        <div class="hidden">
                                            {{ form_rest(form) }}
                                        </div>

                                        <br>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit" class="button orange glossy  btn-lg"><h3><font color="white"><b>Submit</b></font></h3></button> <b><font color="red"> Required Field *
 </font></b>
                                            </div></div>

                                        <style>
                                            .button.orange {
                                                width: 170px;
                                                height:70px;
                                                background-color: #FF4500;

                                            }



                                        </style>
                                        <style>
                                            textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],  input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {




                                                font-size: 14px;

                                                padding: 10px 10px;

                                                width: 600px ;
                                                margin-top: 10px;
                                                display: flow-root;}
                                            select {

                                                width:300px;
                                                padding: 15px;

                                            }


                                        </style>

                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>

{% endblock %}
