{% extends ":front:Front.html.twig" %}
{% block title %}GUIDE POUR REVIEWERS COLLOQUE ATM  {% endblock  %}
{% block body %}
 <div class="container">
						

  <section class="wrapper" >
       
          
           
            <div class="row animate-group">
                <div class="col-sm-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                    
                        <div class="icon-box-content">
                            <div align='left'><div align='justify'>
<p><font size="5">Pour devenir un reviewer au <b>Colloque de l’ATM</b>, l’intéressé doit obligatoirement s’inscrire et obtenir un «compte reviewer» sur le site <a href="www.atm-colloque.com">www.atm-colloque.com</a> .</p>

<p>Le compte reviewer a un double objectif. Il vous permet à la fois d’être «reviewer» et/ou «auteur» (pour soumettre un papier).</p>

<p>Ayant reçu une invitation par email pour faire partie des reviewers du colloque et confirmé sa disponibilité, le reviewer consulte son compte sur la plateforme pour accéder aux articles qui lui sont affectés. </p>

<p>Il doit en contrepartie rédiger et faire retourner ses remarques sur la plateforme, en remplissant la fiche d’évaluation fournie par le Comité Scientifique de l’ATM. Il doit exprimer clairement son jugement concernant:</p><br>
<p><b>•   L’acceptation</b><br>
<b>•   L’acceptation sous corrections mineures</b> <br>
<b>•   L’acceptation sous corrections majeures</b><br>
<b>•   Le refus du travail </b></p>

<p>Les reviewers doivent en plus<b> exprimer leurs avis</b> sur le fond et la forme du papier et suggérer les modifications nécessaires à son amélioration. </p>

<p>Il est à noter que les manuscrits soumis feront l'objet d'un processus d'évaluation anonyme par deux évaluateurs. Au cas où les deux avis divergent (acceptation + refus), le papier sera évalué par un 3ème  lecteur.</p>

<p>Sont communiquées à l’auteur<b> la décision</b> ainsi que les <b>fiches d’évaluation</b> des deux reviewers et ce, en cas de refus ou acceptation. L’anonymat des reviewers est totalement préservé.</font></p>
<p><font size="5">Pour télécharger la fiche de style <b> Cover Letter </b> <b><a  href="{{  path('front_coverletter') }}">cliquer ici</a></b> <br>
    Pour télécharger la fiche de style <b> Manuscript </b><b><a  href="{{  path('front_manuscript') }}"> cliquer ici </a></b><br>
    Pour télécharger la fiche de style <b> Présentation doctorale </b><b><a  href="{{  path('front_doctoral') }}"> cliquer ici</a></b> <br>
    Pour télécharger la fiche de style <b> Présentation communication </b><b><a  href="{{  path('front_communication') }}"> cliquer ici </a></b><br>
        Pour télécharger la fiche de style <b> Modèle et figure </b><b><a  href="{{  path('front_modele') }}"> cliquer ici</a></b><br>
            Pour télécharger la fiche de style <b> Inscription </b><b><a  href="{{  path('front_inscription') }}"> cliquer ici</a></b> <br></font>
    

                                </div></div>
                    </div>
    </div>
                </div></div>
</section>
	</div>

<style>
body {
    color: #000000;}

i {
	color: #131658;
}

</style>
{%endblock%}