{% extends ":front:Front.html.twig" %}

{% block title %}comité Scientifique{% endblock  %}
{% block body %}
    <section class="wrapper">
        <div class="container">
            <div class="row animate-group">
                <div class="col-md-offset-0 col-md-12">
                    <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                        <p><font size="5"><div align="left"><div align='justify'>L'organisation du congrès est assurée par le laboratoire de recherche en marketing ERMA (Entreprise et Recherche en Marketing) à la Faculté des Sciences Economiques et de Gestion de Tunis, regroupant des enseignants-chercheurs principalement de l’Université de Tunis El Manar. Des enseignants-chercheurs en marketing des autres Universités tunisiennes sont également impliqués.</div></div></font></p><br><br><br><br><br>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        {% for membre in membres %}

                                            <ul class="team-list animate-group">
                                                <li class="col-md-4 col-sm-4">
                                                    <div class="thumbnail">
                                                        {% if membre.path is null %}

                                                            <img src="{{ asset('front/images/user.png') }}" alt=""data-animation-options='{"animation":"fadeInLeft", "duration":"300"}'width='300px'>
                                                             <span class="image-overlay"> {% if membre.FB is not null %}<a target="_blank" href={{membre.FB}}><i data-original-title="Facebook" data-placement="top" class="tooltips fa fa-facebook circle-icon circle-small"></i></a>{%endif%}{% if membre.twitter is not null %} <a target="_blank" href={{membre.twitter}}><i data-original-title="Twitter" data-placement="top" class="tooltips fa fa-twitter circle-icon circle-small"></i></a>{%endif%}{% if membre.linkedin is not null %}<a target="_blank" href={{membre.linkedin}}><i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></a>{%endif%}</span>
                                                       
                                                        {%else%}
                                                            <img  src="{{ asset(membre.assetPath)}}" alt=""data-animation-options='{"animation":"fadeInLeft", "duration":"300"}' width='300px'>{%endif%}

                                                            <span class="image-overlay"> {% if membre.FB is not null %}<a target="_blank" href={{membre.FB}}><i data-original-title="Facebook" data-placement="top" class="tooltips fa fa-facebook circle-icon circle-small"></i></a>{%endif%}{% if membre.twitter is not null %} <a target="_blank" href={{membre.twitter}}><i data-original-title="Twitter" data-placement="top" class="tooltips fa fa-twitter circle-icon circle-small"></i></a>{%endif%}{% if membre.linkedin is not null %}<a target="_blank" href={{membre.linkedin}}><i data-original-title="Linkedin" data-placement="top" class="tooltips fa fa-linkedin circle-icon circle-small"></i></a>{%endif%}</span>
                                                        </div>
                                                            <h3><b>{{membre.nom}}</b></h3>
                                                        <div>
                                                            <b> {{membre.universite}} </b>                                      
                                                        </div>

                                                    </li>
                                                </ul>


                                                {%endfor%}

                                                </div></div></div></div>



                                    </section>
                                    <link rel="stylesheet" href="{{ asset('front/plugins/flex-slider/flexslider.css') }}">

                                    <script src="{{ asset('front/plugins/flex-slider/jquery.flexslider.js') }}"></script>

                                    {%endblock%}
