{% extends ":front:Fronten.html.twig" %}

{% block title %}Article list{% endblock  %}
{% block body %}

    <section class="wrapper" style="min-height: 400px; background-image: url(&quot;/pfe/web/font/images/photodune-4043508-3d-modern-office-room-l.jpg&quot;); background-position: 0px -143.517px;" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
        <div class="container">


            <div class="col-md-8">
                <div class="row animate-group">
                    <div class="col-md-offset-2 col-md-12 col-sm-12">
                        <div class="icon-box animate" data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
                            <i class="icon-box-icon fa fa-pencil"></i>
    
                            <div class="icon-box-content">  
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                 
                                          <h4> <font color="red"><i class="fa fa-warning faa-flash animated"></i> 

                                           <b>NOTE: If you press the type all items of this type for this year will be displayed.</b></h4><br><br>
                                       
                                        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">



                                          

                                              
                                              <Tr>
                                                     <Th> <h3> <b> Article Title: </b> </h3> </th>
                                                       <Th> <h3> <b> Keywords: </b> </h3> </th>
                                                         <Th> <h3> <b> Type: </b> </h3> </th>
                                                     <Th> <h3> <b> The article: </b> </h3> </th>
                                                    <Th> <h3> <b> Authors
 </b> </h3> </th>
                                                 </Tr>
                                                  {% for article in article %}
                                                <tr>
                                                    
                                                            <td><h5>{{article.titre}}</h5></td>
                                                             <td><h5>{{article.motcle}}</h5></td>
                                                             <td><h5><a href="{{path('tuto_affiche2en',{'id':article.annee.id,'id2':article.type.id})}}"><b>{{article.type}}</b></a></h5> </font></font></div> </div>
</td>
                                                   
                                                     
                                                    <td><h5><object data="{{ asset(article.assetPath)}}"  type="application/pdf" width="50%" height="50%"  >

                                                            </object>
                                                            <p><a href="{{ asset(article.assetPath)}}">Click here to download the pdf file</a></h5></td>
                                                    
<td><h5>{{article.auteurs}}</h5></td>
                                            {% endfor %}
                                        </table>




                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div></div></div>


    </section>
{%endblock%}

