{% extends ":front:Front.html.twig" %}
{% block body %}
    <div class="main-container">
        <!-- start: STYLE SELECTOR BOX -->

        <!-- end: STYLE SELECTOR BOX -->
        <!-- start: REVOLUTION SLIDERS -->
        <section class="fullwidthbanner-container" >
            <div class="fullwidthabnner">
                <ul>
                    <!-- start: teaching SLIDE -->
                    {{ render (controller('tutoFrontofficeBundle:Default:Affiche1')) }}

                </ul>
            </div>

        </section>
        <!-- end: REVOLUTION SLIDERS -->

        <style>

            a {
                color: #080e5a;
                font-family: cambria;
            }

            body {
                color: #0C0C0C;
                direction: ltr;
                font-family: cambria;
                font-size: 13px;}
            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
                font-family: cambria;
                color: #383838;}
            .circle-icon {
                background-color: #f14100;
            }
            .circle-icon.circle-bricky {
                background-color: #cb3928}
            .circle-icon.circle-teal {
                background-color: #032d51;}
            </style>
            <!-- start: CORE BOXES CONTAINER -->
            <section class="wrapper padding50">
            <!-- start: ABOUT US CONTAINER -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 style="text-align: right;"><font color="#080e5a"><b>Dates importantes</b></font></h1>


                        <h3 style="text-align: right;">

                            <b>    Ouverture des soumissions des communications</b>
                        </h3>
                        <h4 style="text-align: right;">     <span><i class="fa fa-calendar"></i><font color="#080e5a"> 01 Septembre 2017 </font></span><br></h4>
                        <h3 style="text-align: right;">

                            <b>  Date limite d’envoi des communications </b>
                        </h3>

                        <h4 style="text-align: right;">  <span><i class="fa fa-calendar"></i><font color="#080e5a"> 01 Décembre 2017</font> </span> </h4>

                        <h3 style="text-align: right;">

                            <b>   Notification des décisions aux auteurs</b>
                        </h3>
                        <h4 style="text-align: right;">  <span><i class="fa fa-calendar"></i><font color="#080e5a"> 20 Janvier 2018 </font></span> </h4>

                        <h3 style="text-align: right;">

                            <b>  Début des inscriptions</b>
                        </h3>
                        <h4 style="text-align: right;">       <span><i class="fa fa-calendar"></i><font color="#080e5a"> 27 Février 2018 </font></span> </h4>

                        <h3 style="text-align: right;">

                            <b>   Date limite de retour des communications modifiées</b>
                        </h3>
                        <h4 style="text-align: right;">    <span><i class="fa fa-calendar"></i><font color="#080e5a"> 01 Mars 2018</font> </span> </h4>

                        <h3 style="text-align: right;">

                            <b>  Date du colloque</b>
                        </h3>
                        <h4 style="text-align: right;">   <span><i class="fa fa-calendar"></i><font color="#080e5a"> 06-07 Avril 2018</font> </span> </h4>

                    </div>







                    <div class="col-sm-6">
                        <ul class="icon-list animate-group">
                            <li>
                                <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300"}'></div>
                                <i class="clip-stack-empty circle-icon circle-teal animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                                <div class="icon-list-content">
                                    <h1><font color="#080e5a"><b>16<sup>ème</sup> Colloque de l'ATM</b></font></h1>
                                    <p>
                                        <font size="4"> <b> L'Association Tunisienne de Marketing (ATM),</b> régie par la loi 1959 sur les associations, a été fondée, par un groupe d'enseignants ... 
                                    <div align='right'>    <a href="{{  path('front_colloque') }}"> <font color="#080e5a"><b>Cliquez ici</b></font> </a>  </font></div>
                                    </p>
                                </div>
                                <style>
                                    .button.grey {
                                        width: 130px;
                                        height:35px;


                                    }



                                </style>
                            </li>
                            <li>
                                <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
                                <i class="clip-download circle-icon circle animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                                <div class="icon-list-content">

                                    <h1><font color="#080e5a"><b>Soumettre un papier</b></font></h1>
                                    <p>
                                        <font size="4">   Pour soumettre votre papier au colloque de l’ATM, vous devez procéder comme suit:
                                    <div align='right'>    <a href="{{  path('front_soumettre') }}"> <font color="#080e5a"><b>Cliquez ici</b></font> </a>  </font></div>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline animate" data-animation-options='{"animation":"scaleToBottom", "duration":"300", "delay": "300"}'></div>
                                <i class="clip-bulb circle-icon circle-bricky animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'></i>
                                <div class="icon-list-content">
                                    <h1><font color="#080e5a"><b>Nouveautés</b></font></h1>
                                    <p>
                                        <font size="4">   Une nouveauté exceptionnelle pendant cette 16ème édition ATMC16 ...
                                    <div align='right'>    <a href="{{  path('front_nouveauté') }}"> <font color="#080e5a"><b>Cliquez ici</b></font> </a>  </font></div>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: ABOUT US CONTAINER -->
        </section>

        <section class="wrapper wrapper-grey">

            <!-- start: CLIENTS CONTAINER -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="center"><b><font color='#080e5a'>Nos partenaires et sponsors</font></b></h2>
                            <hr>
                            </div>
                            <div class="flexslider col-md-12 animate-group" data-plugin-options='{"directionNav":false, "animation":"slide", "slideshow": false}' data-animation-interval="100">
                                <ul class="slides">
                                    <li >
                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            <a href="https://www.lesphinxmea.com/">
                                                <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="{{ asset('front/images/les.png') }}" alt=""
                                                     style="width: 160px;height: 100px;"></a> 
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            <a href="http://www.elamouri.com/">
                                                <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="{{ asset('front//images/amouri.png') }}" alt="" style="width: 160px;height: 100px;"></a>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            <a href="http://www.vendas-packaging.com/home.html">
                                                <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="{{ asset('front/images/Image4.png') }}" alt=""style="width: 160px;height: 100px;"></a>
                                        </div>



                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            <a href="http://www.utm.rnu.tn/utm/fr/index.php">
                                                <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="{{ asset('front/images/utm.png') }}" alt=""style="width: 160px;height: 100px;"></a>
                                        </div>
                                        <br>

                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            <a href="http://www.wifakbank.com/">
                                                <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration"k:"300"}' src="{{ asset('front/images/bank.png') }}" alt=""style="width: 160px;height: 100px;"></a>
                                        </div>
                                        <br>
                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                           <a href="http://www.inderscience.com/info/inarticletoc.php?jcode=ijesb&year=2017&vol=31&issue=2">
                                                <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="{{ asset('front/images/Image2.png') }}" alt=""style="width: 160px;height: 100px;"></a>
                                        </div>
                                        <br>
                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                             <a href="http://www.inderscience.com/jhome.php?jcode=ijimb">
                                                <img class="img-responsive animate" data-animation-options='{"animation":"fadeIn", "duration":"300"}' src="{{ asset('front/images/Image3.png') }}" alt=""style="width: 160px;height: 100px;"></a>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>

                <!-- end: CLIENTS CONTAINER -->
        </section>
        <!-- start: ABOUT US CONTAINER -->
        <section class="wrapper" style="min-height:400px; background-image: url('{{ asset('front/images/covers.jpg') }}')" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-750">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="center white"> <b>Comment faire?</b></h1><br>

                    </div>
                </div>
                <div class="row animate-group">

                    <div class="col-sm-6">
                        <div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
                            <i class="icon-box-icon clip-study"></i>
                            <h2 class="icon-box-title" style="color:#080e5a;"><b>Vous êtes chercheur </b></h2>
                            <div class="icon-box-content">
                                <p>
                                    <font size="5"><b> Rejoignez-nous pour déposer vos papiers et participez à notre 16<sup>ème</sup> colloque</b></font><br>
                                    <br>

                                    <a href="{{  path('front_video') }}">
                                        <strong><font color="#080e5a"> En savoir plus</font></strong>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-box animate" data-animation-options='{"animation":"flipInY", "duration":"600"}'>
                            <i class="icon-box-icon fa fa-group" ></i>
                            <h2 class="icon-box-title" style="color:#080e5a;"><b>Vous êtes évaluateur </b></h2>
                            <div class="icon-box-content">
                                <p>
                                    <font size="5"> <b> Devenez l'un de nos évaluateurs et participez à notre 16<sup>ème</sup> colloque</b></font><br>
                                    <br>

                                    <a href="{{  path('front_video1') }}">
                                        <strong> <font color="#080e5a"> En savoir plus</font></strong>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


          <section class="wrapper padding50">
            <!-- start: BLOG POSTS AND COMMENTS CONTAINER -->
            <div class="container">
                <div class="row">

                   

                    <div class="col-md-6">
                        <h1><font color="#080e5a"><b>Conférenciers et invités</b></font></h1><br>

                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <div class="col-md-12">
                                        <blockquote class="testimonial">
                                            <p>
                                                <b>  Professeur émérite d'économie-gestion (marketing)--
                                                    enseignement supérieur.<br>Tunis <br>  Université Paris 1 Panthéon-Sorbonne.</b><br>
                                            </p>
                                        </blockquote>
                                        <div class="testimonial-arrow-down"></div>
                                        <div class="testimonial-author">
                                            <div class="img-thumbnail img-thumbnail-small">
                                                <img src="{{ asset('front/images/mustapha.png') }}" style="width: 400px;height: 100px;">
                                            </div>
                                            <p><a href="https://www.linkedin.com/in/zghal-mustapha-198bab68/">
                                                    <strong><font color="#080e5a">
                                                        Mustapha Zghal</font></strong></a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-md-12">
                                        <blockquote class="testimonial">
                                            <p>
                                                <b>  Professeur agrégé en marketing chez Université de Tunis El Manar<br>
                                                    University of Tunis El Manar <br>  Faculté des sciences économiques et de gestion de Tunis</b><br>

                                            </p>
                                        </blockquote>
                                        <div class="testimonial-arrow-down"></div>
                                        <div class="testimonial-author">
                                            <div class="img-thumbnail img-thumbnail-small">
                                                <img src="{{ asset('front/images/faouzi.png') }}" style="width: 400px;height: 100px;">
                                            </div>
                                            <p><a href="https://www.linkedin.com/in/dekhil-fawzi-b337a031/?ppe=1">
                                                    <strong><font color="#080e5a">
                                                        Faouzi Dekhil</font></strong></a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                                             <div class="col-md-6">
                        
                         <h1><font color="#080e5a"><b>Remerciement</b></font></h1><br>
                         
                         <p><font size="4">Un grand merci aux développeuses qui ont pris de leur temps pour la réalisation de cette plateforme.</font></p>
                         <div align="center">
                        <ul class="team-list">
                            <li class="col-md-6 ">
                                <div class="thumbnail">
                                    <img src="{{ asset('front/img/12472400_1559896044332785_7223823768768090435_n.jpg') }}" style="width: 160px;height: 100px;">
                                    <span class="image-overlay" style="transition:null; opacity: 0;"><a href="https://www.facebook.com/sihem.sahnoun.5074" target="_blank"> <i class="tooltips fa fa-facebook circle-icon circle-small" style="transition:null; transform: rotate(0deg);" data-original-title="Facebook" data-placement="top"></i></a></span>
                                </div>

                                <div align='center'>
                                    <font size="5">Sahnoun Sihem</font>
                                 
                                </div>

                            </li>
                           
                            <li class="col-md-6 ">
                                <div class="thumbnail">
                                    <img src="{{ asset('front/img/IMG_20160430_172840.jpg') }}" style="width: 160px;height: 100px;">
                                    <span class="image-overlay" style="transition:null; opacity: 0;"><a href="https://www.facebook.com/profile.php?id=100009297971637" target="_blank"><i class="tooltips fa fa-facebook circle-icon circle-small" style="transition:null; transform: rotate(0deg);" data-original-title="facebook" data-placement="top"></i></a></span>
                                </div>

                                <div align='center'>
                                    <font size="5">Yahia Sarra</font>
                                   
                                </div>

                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>

            <!-- end: BLOG POSTS AND COMMENTS CONTAINER -->
        </section>
    </div>								 <i class="fa fa-angle-right"></i>
</a>
</div>
{% endblock %}