{% extends ":back:base.html.twig" %}
{% block title %}Auteurs{% endblock  %}
{% block body %}
<div class="container">
        <div class="row">
           <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="clip-home-2"></i>
                        <a href="{{path('tuto_frontoffice_homepage')}}">
                            Front Office
                        </a>
                    </li>
                    <li class="active">
                        <i><b>  Back Office </b> </i>
                    </li>
                    
                </ol>
            </div>
        </div>
        </div>
       {% include ":back:alert.html.twig" %}





        <div class="row">
            <div class="col-md-12">
                <!-- start: DYNAMIC TABLE PANEL -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-external-link-square"></i>
                        Liste des Co-Auteurs
                        <div class="panel-tools">
                            <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>
                            <a class="btn btn-xs btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i> </a>
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                            <thead>
                                <tr>
                                    <th class="center">nom </th>                                   
                                    <th class="center"> Prenom </th>
                                    <th class="center"> E-mail </th>
                                    <th class="center">Titre</th>
                                     <th class="center"> Université</th>
                                     <th class="center"> Institution</th>
                                    <th class="center"> Rang</th>
                                    <th class="center"> Soumission</th>


                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for auteur in auteurs %}
                                    <tr>
                                        <td class="center"> {{auteur.nom}}</td>
                                        <td class="center">{{auteur.prenom}}</td>
                                        <td class="center">{{auteur.email}}</td>
                                        <td class="center">{{auteur.Grade}}</td>
                                        <td class="center">{{auteur.universite}}</td>
                                        <td class="center">{{auteur.institution}}</td>
                                        <td class="center">{{auteur.rang}}</td>
                                        <td class="center">{{auteur.soumission.id}}</td>

                                        
                                

                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end: DYNAMIC TABLE PANEL -->
            </div>
        </div>
    </div>
    {% endblock  %}

